.header.logo {
  font-family: 'Crimson Text', serif;
}

.card.class-card:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.input-box {
  font-size: large;
  width: 80%;
  align-self: center;
}

.input-box .underline{
  text-align: right;
  font-weight: bold;
}

.input-box .underline.selected {
  border-top: 3px #008db8 solid;
  color: #008db8;
}

.input-box .underline.unselected {
  border-top: 3px #636363 solid;
  color: #636363;
}

.input-box .underline.error {
  border-top: 3px #db8a8a solid;
  color: #db8a8a;
}

.ui.button {
  background: rgb(0,230,96);
  background: linear-gradient(30deg, rgba(0,230,96,1) 0%, rgba(0,212,255,1) 100%);
  transition: ease-in-out 0.2s;
  color: white !important;
}

.ui.button:hover {
  filter: hue-rotate(60deg);
  transform: scale(1.1);
  background: rgb(0,230,96);
  background: linear-gradient(30deg, rgba(0,230,96,1) 0%, rgba(0,212,255,1) 100%);
  font-weight: bold;
}

.container.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
