.header.logo {
  font-family: 'Crimson Text', serif;
}

/* Splash page */

div.total {
  background-image: url('/src/images/background.jpg');
  background-size: cover;
}

.total .container .content{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.total .container div .header{
  font-size: max(18px, 5vh);
  color: white;
  font-weight: lighter;
}

.total .container div .header.logo{
  font-size: max(36px, 10vh);
  color: rgba(0,212,255,1);
  font-weight: bolder;
}

.card.class-card:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.card.class-card .content .grid{
  height: calc(100% + 2em);
}
.input-box {
  font-size: large;
  width: 80%;
  align-self: center;
}

.input-box .underline{
  text-align: right;
  font-weight: bold;
}

.input-box .underline.selected {
  border-top: 3px #008db8 solid;
  color: #008db8;
}

.input-box .underline.unselected {
  border-top: 3px #636363 solid;
  color: #636363;
}

.input-box .underline.error {
  border-top: 3px #db8a8a solid;
  color: #db8a8a;
}

.ui.button {
  background: rgb(0,230,96);
  background: linear-gradient(30deg, rgba(0,230,96,1) 0%, rgba(0,212,255,1) 100%);
  transition: ease-in-out 0.2s;
  color: white !important;
}

.ui.button:hover {
  filter: hue-rotate(60deg);
  transform: scale(1.1);
  background: rgb(0,230,96);
  background: linear-gradient(30deg, rgba(0,230,96,1) 0%, rgba(0,212,255,1) 100%);
  font-weight: bold;
}

.container.total-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}